p
{
  font-family: cursive;
  font-size: large;
  color: #0000ff;
  background-color: #ffff00;
}
h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: black;
  background-color: #00ffff;
}


